{{ form_start(updateUserForm, {'attr': {'id': 'monFormulaire'}}) }}

{{ form_row(updateUserForm.name) }}
<p id="nameUserError"></p>
{{ form_row(updateUserForm.firstname) }}
<p id="firstnameError"></p>
{{ form_row(updateUserForm.numberPeople) }}
{{ form_row(updateUserForm.phone) }}
<p id="phoneError"></p>
{{ form_row(updateUserForm.allergy) }}
<p id="allergyError"></p>
<button id="submitBtn" class="btn-style primary">Modifier</button>
<button type="submit" id="submitBtn" class="btn-style primary">Réserver une table</button>

{{ form_end(updateUserForm) }}

<script src="{{ asset('assets/js/fichier/scriptUpdateInfoUser.js') }}"></script>
