<footer>
	<link rel="stylesheet" href="stylesFooter.css">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="address">
					<a href="https://www.google.com/maps?q=2+Rue+Favre+73000+Chambery" target="_blank">Quai Antique<br>
						2 Rue Favre<br>
						73000 Chambery</a><br>


					<a href="tel:0400000000">04 00 00 00 00</a><br>
					<a href="mailto:contact@quai-antique.tech">contact@quai-antique.tech</a>

				</div>
				<div class="logo-container">
					<a href="{{path('app_main')}}">

						<img class="logo-footer" src="../../../assets/pictures/logo.png" alt="Logo">
					</a>
				</div>
				<div class="links">
					<a href="{{path('app_main')}}">Accueil</a><br>
					<a href="{{ path('app_card_menu')}}">Menu & Carte</a><br>

					<a href="{{ path('app_book')}}">Réserver</a><br>

					<a href="{{path('app_login')}}">Se connecter</a>
				</div>
				</div>
			</div>
				<div class="mentions">
					Réalisé par Melwyn -
					<a href="{{path('app_privacy_policy')}} ">Copyright 2023</a>
					-
					<a href="{{path('app_legal_notice')}}">Mentions légales</a>
		</div>
	</div>
</footer>
