<footer>
	<link rel="stylesheet" href="stylesFooter.css">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="address">
					<p>World<br>
						123 Rue du Voyage Imaginaire<br>
						20000 Serendelle<br>
						<a class="container-footer" href="mailto:contact@blog-participatif.tech">contact@blog-participatif.tech</a>
					</p>
				</div>
				<div class="logo-container">
					<a href="{{path('app_post_index')}}">
						<img class="logo-footer" src="../../../assets/pictures/logow.png" alt="Logo">
					</a>
				</div>
				<div class="links">
					<a class="container-footer" href="{{path('app_post_index')}}">ACCUEIL</a><br>
					<a class="container-footer" href="{{path('discover')}}">DECOUVERTE</a><br>
					<a class="container-footer" href="{{path('app_login')}}">SE CONNECTER</a><br>
					<a class="container-footer" href="{{path('app_register')}}">S'INSCRIRE</a>
				</div>
			</div>
		</div>
		<div class="mentions">
			Réalisé par Melwyn -
			<a class="container-footer" href="{{path('app_privacy_policy')}} ">Copyright 2023</a>
			-
			<a class="container-footer" href="{{path('app_legal_notice')}}">Mentions légales</a>
		</div>
	</div>
</footer>
