{% extends 'base.html.twig' %}

{% block body %}
<div class="containerPrincipal">
	<h2 class="histoire-title">Page de l'administrateur</h2>
	<section class="container my-3">
		<div class="row">
			<div class="col">
				<a href="{{ path('admin_article_index') }}" class="btn-reserve">Gérer les articles</a>

				<a href="{{ path('admin_category_index') }}" class="btn-reserve">Gérer les categories</a>

				<a href="{{ path('admin_users_index') }}" class="btn-reserve">Contrôler les utilisateurs</a>

        <a href="{{ path('admin_post_index') }}" class="btn-reserve">Gérer les posts</a>

        <a href="{{ path('admin_discover_index') }}" class="btn-reserve">Gérer la page découverte</a>

				<a href="{{ path('app_account_index') }}" class="btn-reserve">Gérer mon compte</a>
			</div>
		</div>
	</section>
</div>

{% endblock %}
