{% extends 'base.html.twig' %}

{% block title %}Découverte
{% endblock %}

{% block body %}
<h2>Découverte</h2>
{% for discover in discover %}
  {{ discover.contentIntro }}
{% for image in discover.image %}
{% if image.path %}
	<img src="{{ asset('assets/uploads/imageBlog/' ~ image.path) }}">
{% endif %}
{% endfor %}
  {{ discover.content }}
  {{ discover.country }}
  {{ discover.capital }}
  {{ discover.language }}
  {{ discover.currency }}
  {{ discover.population }}
  {{ discover.area }}
  {{ discover.contentFooter }}
{% endfor %}
{% endblock %}

