{% extends "base.html.twig" %}

{% block title %}Liste des categories
{% endblock %}

{% block body %}
	<h2 class="histoire-title">Liste des categories</h2>
	<div class="container">
		<div class="row">
			<main class="col-lg-9 col-md-8 col-sm-12 border border-light bg-white p-2">
				<a href="{{ path('admin_category_add') }}" class="btn btn-success">Ajouter une categorie</a>
				<a href="{{ path('app_admin') }}" class="btn btn-primary">Panneau d'administration</a>
				<table class="table">
					<thead>
						<tr>
							<th>Nom de la categorie</th>
						</tr>
					</thead>
					<tbody>
						{% for category in category %}
							<tr>
								<td>{{ category.name }}</td>
								<td>
									<a href="{{ path('admin_category_edit', {id: category.id})}}" class="btn btn-success">Modifier</a>
									<a href="{{ path('admin_category_delete', {id: category.id})}}" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette categorie ?')">Supprimer</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</main>
		</div>
	</div>
{% endblock %}
