{{ form_start(PostForm, {'attr': {'id': 'monFormulaire'}}) }}
{{ form_row(PostForm.title) }}
{{ form_row(PostForm.content) }}
{{ form_row(PostForm.image) }}
<button class="btn-style primary">Publier</button>
{{ form_end(PostForm) }}