{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}


{% block body %}
	<h1>the world</h1>

	<h2>Article</h2>
	{% for article in article %}
		<h2>{{ article.title }}</h2>
		{% for image in article.image %}
			{% if image.path %}
				<img src="{{ asset('assets/uploads/imageBlog/' ~ image.path) }}">
			{% endif %}
		{% endfor %}
	{% endfor %}


{% for post in post %}
	{% for image in post.image %}
		{% if image.path %}
			<img src="{{ asset('assets/uploads/imageBlog/mini/300x300-' ~ image.path) }}">
		{% endif %}
	{% endfor %}
	{% if post.title %}
		{{ post.title }}
	{% endif %}
	{% if post.content %}
		{{ post.content }}
	{% endif %}
	{% if post.publishedAt %}
{{ post.publishedAt|date('d/m/Y H\\hi') }}


	{% endif %}
	{% if app.user and app.user is same as post.user %}
		<a href="{{ path('app_post_edit', { id: post.id }) }}">Modifier</a>
		<a href="{{ path('app_post_delete', { id: post.id }) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce post ?')">Supprimer</a>
	{% endif %}
{% endfor %}



	{% for message in app.flashes('error') %}
		<div class="alert alert-danger mt-3" role="alert">
			{{ message }}
		</div>
	{% endfor %}


{% endblock %}
