{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}


{% block body %}
		<h1>the world</h1>

    <h2>Article</h2>
{% for article in article %}
	<h2>{{ article.title }}</h2>
	{% for image in article.image %}
		{% if image.path %}
			<img src="{{ asset('assets/uploads/imageBlog/' ~ image.path) }}">
		{% endif %}
	{% endfor %}
{% endfor %}









	<h3>post</h3>
{% for post in post %}
	<h2>{{ post.title }}</h2>
	{% for image in post.image %}
		{% if image.path %}
			<img src="{{ asset('assets/uploads/imageBlog/mini/300x300-' ~ image.path) }}">
		{% endif %}
		{% if post.user == app.user %}
			<a href="{{ path('app_post_edit', { id: post.id }) }}">Modifier</a>
			<a href="{{ path('app_post_delete', { id: post.id }) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce post ?')">Supprimer</a>
		{% endif %}
	{% endfor %}
{% endfor %}













{# {{post.publishedAt | date("d/m/Y")}}
						à
						{{post.publishedAt | date("H:i")}} #}


	{% for message in app.flashes('error') %}
		<div class="alert alert-danger mt-3" role="alert">
			{{ message }}
		</div>
	{% endfor %}



{% endblock %}
