{% extends "base.html.twig" %}

{% block title %}Administration des articles
{% endblock %}

{% block body %}
	<h2 class="histoire-title">Modifier un article</h2>
	<main class="container">
		<section class="row">
			<div class="col-12">
				{{ form_start(articleFormulaire, {'attr': {'id': 'monFormulaire'}}) }}
				{{ form_row(articleFormulaire.title) }}
				{{ form_row(articleFormulaire.content) }}
				{{ form_row(articleFormulaire.image) }}
				<div>
					<label>Image existante :</label>
					{% for image in article.image %}
						<div class="existing-image">
							<img
							src="{{ asset('assets/uploads/imageBlog/mini/300x300-' ~ image.path) }}" alt="">
						<!-- Affichez d'autres informations sur l'image si nécessaire -->
						</div>
					{% endfor %}
				</div>

				{{ form_row(articleFormulaire.category) }}
				{{ form_row(articleFormulaire.user) }}
				<button class="btn-style primary">Publier</button>
				<a href="{{ path('app_admin') }}" class="btn btn-primary">Panneau d'administration</a>
				{{ form_end(articleFormulaire) }}

			</div>
		</section>
	</main>
{% endblock %}
