{% extends "base.html.twig" %}

{% block title %}Liste des articles
{% endblock %}

{% block body %}
	<h2 class="histoire-title">Liste des articles</h2>
	<section class="container my-3">
		<div class="row">
			<div class="col">
				<a href="{{ path('admin_article_add') }}" class="btn btn-success">Ajouter un article</a>
				<a href="{{ path('app_admin') }}" class="btn btn-primary">Panneau d'administration</a>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th>Titre</th>
								<th>Contenu</th>
								<th>Photo</th>
								<th>Catégorie</th>
								<th>Auteur</th>
							</tr>
						</thead>
						<tbody>
							{% for article in article %}
								<tr>
									<td>{{ article.title }}</td>
									<td>{{ article.content }}</td>
									<td>
										{% if article.category is null %}
											{{ "Null" }}
										{% else %}
											{{ article.category.name }}
										{% endif %}
									</td>
									<td>
										{% if article.user is null %}
											{{ "Null" }}
										{% else %}
											{{ article.user.pseudo }}
										{% endif %}
									</td>
									<td>
										{# % if app.request.get('article') is defined %}
										{% set article = app.request.get('article') %}
										{% for article in article %}
											<img src="{{ asset('assets/uploads/imageBlog/mini/300x300-' ~ image.path) }}">
										{% endfor %}
									{% endif %} #}
                  </td>
								</tr>
							</td>
							{# <td>
								<a href="{{ path('admin_article_edit', {id: article.id})}}" class="btn btn-success">Modifier</a>
								<a href="{{ path('admin_article_delete', {id: article.id}) }}" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette réservation ?')">Supprimer</a>
							</td> #}
						</tbody>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div></div></section>{% endblock %}
